<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - Freelanci</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="shortcut icon" type="x-icon" href="assets/img/Justlogo.png" />
    <!-- Favicons -->
    <link href="assets/img/Justlogo.png" rel="icon">
    <link href="assets/img/pngTeam5Logo.jpg" rel="apple-touch-icon">





    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">


    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Mar 09 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

{% block content %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


                <div class="row">
                    <a href="{{ path('display_services_front') }}">
                        <i class="fa fa-arrow-circle-left" style="font-size: 30px;"></i>

                    </a>

                </div>
                <br/>
                <div class="row" style="padding:10px;display: flex;align-items: center;justify-content: center;">

                    <div class="col-md-6 col-lg-3">

                        <div class="card m-b-20">
                            <img class="card-img-top img-fluid" src="{{ asset('uploads/'~image) }}" alt="Card image cap">
                            <div class="card-body">

                                <form method="POST" action="{{ path('service_note', {'id': Id}) }}">
                                    <input class="form-control" type="number" id="rating" name="note" min="1" max="5" value="3">
                                    <br/>
                                    <br/>
                                    <div class="row mb-3">
                                        <div class="col-sm-10">
                                            <button class="btn btn-primary btn-block w-100" type="submit">Noter</button>
                                        </div>
                                    </div>
                                </form>




                                {#                            <div class="card-body">#}
                                {#                                <a href="#" class="card-link">Card link</a>#}
                                {#                                <a href="#" class="card-link">Another link</a>#}
                                {#                            </div>#}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}