

{% block tableForm %}


    <section class="min-sec">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9">
                    <div class="sec-heading">
                        <h2>Liste des Services<span class="theme-cl-2"></span></h2>

                    </div>
                </div>
            </div>

            {% for message in app.flashes('success') %}
                <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                </div>

            {% endfor %}
            <div class="row">
                <div class="row">
                    <section>

                        <div class="album py-5 bg-light">
                            <div class="container">
                                <div class="sidebar-search" >
                                    <div class="input-group custom-search-form">
                                        <input    type="text" id="search" class="form-control widget_input" placeholder="Chercher..." style="width: 1180px;background: white">
                                    </div>
                                    <br>
                                    <!-- /input-group -->
                                    <ul class="nav" id="side-menu">
                                        <li>
                                            <a href="#"> <span class="fa arrow"></span></a>
                                            <ul class="nav nav-second-level" id="entitiesNav">
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>

            <div class="row d-flex" id="containerr">
                <div id="search"></div>

                <div class="row justify-content-center">
                    {% for s in listS %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="ser_110">
                            <div class="ser_110_thumb">
                                <a href="{{ path('detailServices',{servid:s.servid}) }}" class="ser_100_link">
                                    <img src="{{ asset('uploads/'~s.servimg) }}" class="img-fluid" alt="" style="height: 200px;">
                                </a>
                            </div>

                            <div class="jb_types fulltime">
                                {% if s.servdispo == 0 %}
                                    <div style="color: red;">Non disponible</div>
                                {% else %}
                                    <div style="color: blue;"> disponible</div>
                                {% endif %}
                            </div>

                            <div class="ser_110_footer bott">
                                <div class="_110_foot_left">
                                    <div class="_autho098">
                                        <img src="{{ asset('uploads/'~s.qrcode) }}" class="img-fluid circle" alt="">
                                        <img src="assets/img/verify.svg" class="verified" width="12" alt="">
                                    </div>

                                </div>

                            </div>

                            <div class="text-center">
                                <div class="ser_title098">
                                    <h4 class="_ser_title"><a href="{{ path('detailServices',{servid:s.servid}) }}">{{ s.servlib }}</a></h4>
                                </div>
                                <div class="_oi0po"><i class="fa fa-bolt"></i>à partir de<strong class="theme-cl">{{ s.servprix }} DT</strong></div>
                                <div class="ser_110_caption">
                                    <div class="ser_rev098">

                                        {% set max_stars = 5 %}
                                        {% set rating = s.note | default(0) %}
                                        {% set filled_stars = rating %}
                                        {% set empty_stars = max_stars - filled_stars %}

                                        {% for i in range(1, max_stars+1) %}
                                            {% if i <= filled_stars %}
                                                <i class="fa fa-star filled"></i>
                                                {% elseif i <= max_stars %}
                                                <i class="fa fa-star"></i>
                                            {% endif %}
                                        {% endfor %}


                                    </div>
                                </div>
                                <div class="jb_grid_01_footer">
                                    <a href="{{ path('getNoterServicePage',{servid:s.servid}) }}" class="_jb_apply">Noter</a>
                                </div>
                            </div>

                        </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </section>


    <!-- jQuery is necessary -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 3;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('ajax_search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value==$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key == 'services') {
                                            if (id != 'error') {
                                                x= document.getElementById("containerr");
                                                entitySelector.append('<div style="display: table;width:100%;padding: 15px"><span style="text-align: center">'+value[2]+'</span><br/><a href="/detailServices/'+id+'">'+'<img src="/uploads/'+value[0]+'" style="width: 150px; height: 150px"/>'+'</a></div>');
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $(".btn1").click(function(){
                $("h1").slideUp();
            });
            $(".btn2").click(function(){
                $("h1").slideDown();
            });
            $(".btn3").click(function(){
                $("h1").slideToggle();
            });
        });
    </script>
{% endblock %}


{% block stylesheets %}
    <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">
    <link
            href="{{ asset('front/css/plugins.css')}}" rel="stylesheet">


    <!-- Custom CSS -->
    <link
            href="{{ asset('front/css/styles.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
{% endblock %}
